IMPORTACION DE MODULOS Y SETEO DE PATH DE DATOS

In [1]:
import pandas as pd
import numpy as np


path_dataset:str = "dataset/movies_dataset.csv"

In [2]:
movie_set = pd.read_csv(path_dataset)

In [3]:
movie_set.tail(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
9990,146203,The Last Exorcism Part II,"Horror,Thriller",en,As Nell Sweetzer tries to build a new life aft...,15.757,2013-02-28,4.7,444
9991,551808,Black Christmas,"Horror,Mystery,Thriller",en,"During Christmas break, the women at Hawthorne...",9.811,2019-12-11,4.7,412
9992,853588,Prey,Thriller,de,A hiking trip into the wild turns into a despe...,64.052,2021-09-10,4.7,254
9993,17455,Hellraiser: Deader,"Horror,Mystery,Thriller",en,"In London, after investigating crack addicted ...",15.512,2005-06-07,4.7,227
9994,168098,Cell,"Horror,Science Fiction,Thriller",en,When a strange signal pulsates through all cel...,19.521,2016-07-06,4.7,910
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [4]:
movie_set.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000